# ==========================================
# ∇Calc - Git Ignore Configuration
# ==========================================

# Pastas Locais, Laboratório e Rascunhos Pessoais
local/
tmp/
*.tmp
*.bak
.clangd
compile_commands.json

# Builds e Caches de Compilação (ESP-IDF / CMake / PlatformIO / VS Code)
build/
**/build/
.cache/
**/.cache/
.pio/
.vscode/
sdkconfig.old
firmware/nabla_firmware/sdkconfig
*.bin
*.elf
*.hex
*.map

# Logs e Arquivos de Sistema Operacional
*.log
.DS_Store
Thumbs.db
desktop.ini
